In [1]:
pip install gender_guesser

Requirement already satisfied: gender_guesser in c:\users\acs\anaconda3\lib\site-packages (0.4.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from gender_guesser.detector import Detector

In [6]:
names_df = pd.read_csv('name_gender.csv')

In [7]:
names_df.head()

        name  gender
0      Aaban    Male
1      Aabha  Female
2      Aabid    Male
3  Aabriella  Female
4       Aada  Female

In [8]:
detector = Detector(case_sensitive=False)

In [9]:
names_df['gender'] = names_df['name'].apply(lambda x: detector.get_gender(x))

In [10]:
gender_counts = names_df['gender'].value_counts()

In [11]:
print("Gender Distribution:")

Gender Distribution:

In [12]:
print(gender_counts)

unknown          80745
female            7052
male              5935
andy               629
mostly_male        356
mostly_female      309
Name: gender, dtype: int64